---
interface Certificate{
    image: string,
    url: string,
    name: string,
    style: string
}

import { Image } from "astro:assets"
const { image, url, name, firstColor, secondColor }  = Astro.props
---

<a href=`${url}`>
    <Image  
    transition:name=`${name}`
    src=`${image}` 
    alt=`${name}`
    width={30} 
    height={20} 
    loading="lazy" 
    format="webp" 
    class=`w-24 h-24 object-contain aspect-square block transition hover:cursor-pointer hover:shadow-2xl hover:shadow-${secondColor}-500 hover:border hover:border-${firstColor}-500 rounded py-2 px-1` />
</a>
